@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#root{
  background-color: #ffffff;
  min-height: 100vh;
  font-family: Poppins;
  overflow-x: hidden;
}

.bgrosa{
  background-color: #e99293;
}

.custom-gradient {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0) 100%);
}

/*Banner*/
.banner {
  border-bottom-width: 4px;
  background-color: #e99293;
}

.h-custombanner {
  height: calc(100vh - 5rem);
}



@media (max-width:920px) {
  .h-custombanner {
      flex-direction: column-reverse;
      align-items: center;
      height: fit-content;

  }

  .bannertextwrapper {
      padding: 0;
  }
}


/*PT2*/

.h-colections{
  height: 85vh;
}

.custom-shadow {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

/*icones*/

.iconesacao{
  transition: 0.2s ease-in all;
}

.iconesacao:hover{
  transform: scale(1.1);
}


/*Botão*/

.filling-button {
  position: relative;
  width: 100px; /* Ajuste conforme necessário */
  padding: 10px;
  border: 2px solid white;
  color: white; /* Cor do texto inicial */
  background-color: transparent; /* Fundo do botão transparente */
  overflow: hidden;
  cursor: pointer;
  font-size: 16px;
  transition: color 0.3s; /* Transição suave para a cor do texto */
}

.filling-button .filling {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%; /* Preenche a altura total do botão */
  background-color: white; /* Cor de preenchimento */
  transform: translateY(-100%); /* Começa fora da vista */
  transition: transform 0.3s; /* Transição suave */
  z-index: 0; /* Fica atrás do texto */
}


.filling-button:hover {
  color: black; /* Altera a cor do texto no hover */
}

.filling-button:hover .filling {
  transform: translateY(0); /* Move o preenchimento para baixo */
}



